.box_main {
  border: 5px dotted black;
  width: 75%;
}
.box_black_border {
  border: 1px solid #000000;
  margin: 19px;
}
.box_pink_border {
  border: 5px double #fb46fd;
  /* border-color: #fb46fd; */
  width: 50%;
  padding: 10px;
}
